@font-face {
  font-family: "Editor's Note Italic";
  src: url('./fonts/editors-note/EditorsNote-HairlineItalic-iF664322be52ef6.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "IvyOra Display Light";
  src: url('./fonts/ivyora-display/IvyOraDisplay-Light.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "IvyOra Display Regular";
  src: url('./fonts/ivyora-display/IvyOraDisplay-Regular.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

:root {
    --mainBg: #E8E4D9;
    --mainText: #171B26;
}

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
    font-family: "Manrope";
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button {
    background: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--mainBg);
    overflow-x: hidden;
}

/* Header Styles */
header {
    background-color: var(--mainBg);
    color: var(--mainText);
    padding: 20px 60px 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Editor's Note Italic";
    font-weight: 200;
    font-size: 80px;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

nav button {
    position: relative;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}

nav button::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 1.2px;
    width: 100%;
    background-color: var(--mainText);
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}

nav button:hover::after {
    transform: scaleX(1);   
}

/* Footer Styles */
footer {
    background-color: var(--mainText);
    color: var(--mainBg);
    padding: 80px 20px 3em 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

footer div {
    border-top: 1px solid var(--mainBg);
    border-bottom: 1px solid var(--mainBg);
    padding-top: 3em;
    padding-bottom: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

footer img {
    width: 200px;
    height: 200px;
}

.footerBtn {
    border: solid var(--mainBg) 1px;
    font-size: 18px;
    border-radius: 0px;
    background-color: var(--mainBg);
    color: var(--mainText);
    padding: 1em 3em;
} 

footer button:hover {
    border-radius: 50px;
    cursor: pointer;
}

footer iframe {
    width: 400px;
    height: 250px;
    border-radius: 25px;
}

#content {
    flex: 1;
}

/* Home Styles */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8em;
    padding: 80px 80px 80px 80px;
}

.home h1 {
    font-family: "IvyOra Display Light";
    font-size: 180px;
    color: var(--mainText);
    font-weight: 200;
    align-self: center;
}

.home h1 span {
    font-family: "IvyOra Display Light";
    border: solid 1px black;
    padding: 0px 60px;
    border-radius: 150px;
    background-color: var(--mainText);
    color: var(--mainBg);
    box-shadow: 0 0 5px 0 var(--mainText);
    padding-bottom: 0.2em;
}

.home .head {
    font-family: "IvyOra Display Regular";
    font-size: 180px;
    font-weight: 200;
    color: var(--mainText);
}

.essence-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.essence-cont .grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 5em;
    font-size: 26px;
}

.text-1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.text-2 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.text-2 .img-cont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1em;
    gap: 1em;
}

.text-2 img {
    width: 100px;
}

.amenities-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1em;
}

.amenities-cont .grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.amenities-cont .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    align-items: center;
    border: solid 1px var(--mainText);
    padding: 5em 5em 5em 5em;
}

.grid-item.one {
    border-left: 0;
    border-top: 0;
}
.grid-item.two {
    border-top: 0;
}
.grid-item.three {
    border-right: 0;
    border-top: 0;
}
.grid-item.four {
    border-left: 0;
    border-bottom: 0;
}
.grid-item.five {
    border-bottom: 0;
}
.grid-item.six {
    border-right: 0;
    border-bottom: 0;
}

.orderBtn {
    background-color: var(--mainText);
    color: var(--mainBg);
    border-radius: 50px;
    padding: 1em 3em;
    font-size: 20px;
    cursor: pointer;
    border: solid 2px var(--mainText);
}

.orderBtn:hover {
    color: var(--mainText);
    background-color: var(--mainBg);
}

/* Menu Styles */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8em;
    padding: 80px 80px 120px 80px;
    max-width: 100%;
}

.menu .grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.menu .grid .featured {
    grid-row: 1/3;
    grid-column: 1/3;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.menu .grid img {
    width: 100%;
}

.menu .grid img:hover{
    filter: grayscale(100%);
}

.menu .head {
    font-family: "IvyOra Display Regular";
    font-size: 140px;
    font-weight: 200;
    color: var(--mainText);
    align-self: flex-start;
}

.menu-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.menu-part .items {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2em;
    column-gap: 5em;
}

.menu-part .item  {
    font-size: 20px;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    border: solid 1px var(--mainText);
    padding: 1em 1.5em;
    border-radius: 50px;
    cursor: pointer;
}

.menu-part .item .name{
    font-family: "IvyOra Display Light";
    font-size: 30px;
}

.menu-part .item .details{
    font-family: "IvyOra Display Regular";
    letter-spacing: 1px;
}


.reserve {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5em;
    padding: 80px 80px 120px 80px;
    max-width: 100%;
}

.reserve .head{
    color: var(--mainText);
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reserve .head h1 {
    font-family: "IvyOra Display Regular";
    font-size: 140px;
    font-weight: 200;
}

.reserve .head p {
    font-family: "IvyOra Display Regular";
    font-size: 30px;
    font-weight: 200;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 1.5em;
}

input {
    font-family: "Manrope";
    background: none;
    border: none;
    outline: none;
    background-color: #DCD8CE;
    border-radius: 20px;
    padding: 2em 3em;
    font-size: 18px;
}

input:focus, textarea:focus {
    background-color: #F3F0EA;    
}

.inside-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.inside-1 input {
    width: 100%;
    flex: 1;
}

textarea {
    font-family: "Manrope";
    background: none;
    border: none;
    outline: none;
    background-color: #DCD8CE;
    border-radius: 20px;
    padding: 2em 3em;
    font-size: 18px;
    min-height: 200px;
    max-height: 300px;
    resize: vertical;
}

form button {
    background-color: #D9D2BF;
    color: var(--mainText);
    border-radius: 50px;
    padding: 1em 3em;
    font-size: 20px;
    cursor: pointer;
}

form button:hover {
    color: #D9D2BF;
    background-color: var(--mainText);
}

form button.reserved {
    color: #D9D2BF;
    background-color: var(--mainText);
}

.form-disabled input,
.form-disabled textarea,
.form-disabled button {
    cursor: not-allowed;
}

/* Scroll Bar Styling */
::-webkit-scrollbar {
    width: 15px; 
    height: 8px; 
}

::-webkit-scrollbar-track {
    background: var(--mainText);
}

::-webkit-scrollbar-thumb {
    background-color: var(--mainBg);
}

/* Media Queries */
@media (max-width: 1200px) {
    .home h1 {
        font-size: 140px;
    }

    .home .head {
        font-size: 140px;
    }
    .menu .head {
        font-size: 140px;
    }
    .reserve .head h1 {
        font-size: 140px;
    }

    .essence-cont .grid {
        font-size: 20px;
    }
    .amenities-cont .grid {
        font-size: 16px;
    }

    .menu {
        gap: 3em;
    }

    .menu-part .item {
        font-size: 16px;
    }

    .menu-part .item .name {
        font-size: 26px;
    }

    form {
        width: 80%;
    }
}

@media (max-width: 900px) {
    .home, .menu {
        padding: 80px 5% 80px 5%;
    }
    
    .home h1 {
        font-size: 100px;
    }

    .home .head {
        font-size: 100px;
    }
    .menu .head {
        font-size: 100px;
    }
    .reserve .head h1 {
        font-size: 100px;
    }

    .essence-cont .grid {
        font-size: 14px;
    }
    .amenities-cont .grid {
        font-size: 12px;
    }

    .text-2 img {
        width: 60px;
    }

    footer img {
        width: 150px;
        height: 150px;
    }

    footer iframe {
        width: 300px;
        height: 200px;
        border-radius: 25px;
    }

    .menu {
        gap: 3em;
    }

    .menu-part .items {
        column-gap: 2em;
    }

    .menu-part .item {
        font-size: 14px;
    }

    .menu-part .item .name {
        font-size: 22px;
    }

    form {
        width: 80%;
    }
}

@media (max-width: 660px) {
    header {
        flex-direction: column;
        width: 100%;
        padding: 20px 5% 20px 5%;
        gap: 1em;
    }

    .home, .menu {
        padding: 80px 5% 80px 5%;
    }
    .home {
        gap: 5em;
    }
    .home h1 span {
        padding: 0px 40px;
    }
    
    .home h1 {
        font-size: 70px;
    }

    .home .head {
        align-self: center;
        font-size: 60px;
    }
    .menu .head {
        align-self: center;
        font-size: 60px;
    }
    .reserve .head h1  {
        font-size: 60px;
    }

    .reserve .head p {
        text-align: center;
        font-size: 20px;
    }

    .essence-cont {
        gap: 1em;
    }
    .essence-cont .grid {
        font-size: 14px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 1.5em;
    }
    .text-1 {
        width: 100%;
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .text-2 {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .text-2 .img-cont {
        justify-content: center;
        padding-top: 2em;
    }
    .text-2 img {
        width: 60px;
    }

    .amenities-cont .grid {
        font-size: 10px;
    }
    .amenities-cont .grid-item {
        padding: 20px;
    }

    .orderBtn {
        font-size: 16px;
    }

    footer div {
        flex-direction: column;
        gap: 1em;
    }

    footer img {
        width: 120px;
        height: 150px;
    }

    footer iframe {
        width: 300px;
        height: 200px;
        border-radius: 25px;
        padding-bottom: 0.5em;
    }
    .footerBtn {
        font-size: 16px;
    }

    .menu {
        gap: 3em;
        padding-top: 3em;
    }

    .menu-part .items {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        row-gap: 1em;
    }

    .menu-part .item {
        font-size: 14px;
    }

    .menu-part .item .name {
        font-size: 20px;
    }

    .reserve {
        padding: 80px 5% 120px 5%;
    }

    form {
        width: 100%;
    }
    
    form input {
        font-size: 14px;
    }

    textarea {
        font-size: 14px;
    }
    
    form button {
        padding: 1em 2em;
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    header {
        flex-direction: column;
        width: 100%;
        padding: 20px 5% 20px 5%;
        gap: 1em;
    }

    nav {
        gap: 3em;
    }
    nav button {
        font-size: 18px;
    }

    .home, .menu {
        padding: 80px 5% 80px 5%;
    }
    .home {
        gap: 5em;
    }
    .home h1 span {
        padding: 0px 30px;
    }
    
    .home h1 {
        font-size: 50px;
    }

    .home .head {
        align-self: center;
        font-size: 60px;
    }
    .menu .head {
        align-self: center;
        font-size: 60px;
    }
    .reserve .head h1  {
        font-size: 60px;
    }

    .reserve .head p {
        text-align: center;
        font-size: 20px;
    }

    .essence-cont {
        gap: 1em;
    }
    .essence-cont .grid {
        font-size: 14px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 1.5em;
    }
    .text-1 {
        width: 100%;
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .text-2 {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .text-2 .img-cont {
        justify-content: center;
        padding-top: 2em;
    }
    .text-2 img {
        width: 60px;
    }

    .amenities-cont .grid {
        font-size: 10px;
    }
    .amenities-cont .grid-item {
        padding: 20px;
    }

    .orderBtn {
        font-size: 16px;
    }

    footer {
        padding: 60px 0 1.5em 0;
    }
    footer div {
        flex-direction: column;
        gap: 0.5em;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    footer img {
        width: 120px;
        height: 150px;
    }

    footer p {
        font-size: 14px;
    }

    footer iframe {
        width: 250px;
        height: 175px;
        border-radius: 25px;
        padding-bottom: 0.5em;
    }
    .footerBtn {
        font-size: 16px;
    }

    .menu {
        gap: 3em;
        padding-top: 3em;
    }

    .menu-part .items {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        row-gap: 1em;
    }

    .menu-part .item {
        font-size: 14px;
    }

    .menu-part .item .name {
        font-size: 20px;
    }

    .reserve {
        padding: 80px 5% 120px 5%;
        gap: 3em;
    }

    form {
        width: 100%;
        gap: 1em;
    }
    
    form input {
        font-size: 12px;
        padding: 1em 2em;
    }
    
    textarea {
        font-size: 14px;
    }
    
    form button {
        padding: 1em 2em;
        font-size: 14px;
    }
}