@font-face {
  font-family: "Editor's Note Italic";
  src: url('./fonts/editors-note/EditorsNote-HairlineItalic-iF664322be52ef6.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "IvyOra Display Light";
  src: url('./fonts/ivyora-display/IvyOraDisplay-Light.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "IvyOra Display Regular";
  src: url('./fonts/ivyora-display/IvyOraDisplay-Regular.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

:root {
    --mainBg: #E8E4D9;
    --mainText: #171B26;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
    font-family: "Manrope";
}

a {
    color: inherit;
    text-decoration: inherit;
}

button {
    background: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--mainBg);
}

/* Header Styles */
header {
    background-color: var(--mainBg);
    color: var(--mainText);
    padding: 20px 60px 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Editor's Note Italic";
    font-weight: 200;
    font-size: 80px;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

nav button {
    position: relative;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}

nav button::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 1.2px;
    width: 100%;
    background-color: var(--mainText);
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}

nav button:hover::after {
    transform: scaleX(1);   
}

/* Footer Styles */
footer {
    background-color: var(--mainText);
    color: var(--mainBg);
    padding: 80px 20px 3em 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

footer div {
    border-top: 1px solid var(--mainBg);
    border-bottom: 1px solid var(--mainBg);
    padding-top: 3em;
    padding-bottom: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

footer img {
    width: 200px;
    height: 200px;
}

.footerBtn {
    border: solid var(--mainBg) 1px;
    font-size: 18px;
    border-radius: 0px;
    background-color: var(--mainBg);
    color: var(--mainText);
    padding: 1em 3em;
} 

footer button:hover {
    border-radius: 50px;
    cursor: pointer;
}

footer iframe {
    width: 400px;
    height: 250px;
    border-radius: 25px;
}

#content {
    flex: 1;
}

/* Home Styles */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8em;
    padding: 80px 80px 80px 80px;
}

.home h1 {
    font-family: "IvyOra Display Light";
    font-size: 180px;
    color: var(--mainText);
    font-weight: 200;
    align-self: center;
}

.home h1 span {
    font-family: "IvyOra Display Light";
    border: solid 1px black;
    padding: 0px 60px;
    border-radius: 150px;
    background-color: var(--mainText);
    color: var(--mainBg);
    box-shadow: 0 0 5px 0 var(--mainText);
    padding-bottom: 0.2em;
}

.essence-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.essence-cont .grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 5em;
    font-size: 26px;
}

.home .head {
    font-family: "IvyOra Display Regular";
    font-size: 180px;
    font-weight: 200;
    color: var(--mainText);
}

.text-1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.text-2 {
    grid-row: 1/2;
    grid-column: 2/3;
}

.text-2 .img-cont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1em;
    gap: 1em;
}

.text-2 img {
    width: 100px;
}

.amenities-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

.amenities-cont .grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    font-size: 20px;
}

.amenities-cont .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    align-items: center;
    border: solid 1px var(--mainText);
    padding: 5em 5em 5em 5em;
}

.grid-item.one {
    border-left: 0;
    border-top: 0;
}
.grid-item.two {
    border-top: 0;
}
.grid-item.three {
    border-right: 0;
    border-top: 0;
}
.grid-item.four {
    border-left: 0;
    border-bottom: 0;
}
.grid-item.five {
    border-bottom: 0;
}
.grid-item.six {
    border-right: 0;
    border-bottom: 0;
}

.orderBtn {
    background-color: var(--mainText);
    color: var(--mainBg);
    border-radius: 50px;
    padding: 1em 3em;
    font-size: 20px;
    cursor: pointer;
    border: solid 2px var(--mainText);
}

.orderBtn:hover {
    color: var(--mainText);
    background-color: var(--mainBg);
}

/* Menu Styles */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8em;
    padding: 80px 80px 120px 80px;
    max-width: 100%;
}

.menu .grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.menu .grid .featured {
    grid-row: 1/3;
    grid-column: 1/3;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.menu .grid img {
    width: 100%;
}

.menu .grid img:hover{
    filter: grayscale(100%);
}

.menu .head {
    font-family: "IvyOra Display Regular";
    font-size: 140px;
    font-weight: 200;
    color: var(--mainText);
    align-self: flex-start;
}

.menu-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.menu-part .items {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2em;
    column-gap: 5em;
}

.menu-part .item  {
    font-size: 20px;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    border: solid 1px var(--mainText);
    padding: 1em 1.5em;
    border-radius: 50px;
}

.menu-part .item .name{
    font-family: "IvyOra Display Light";
    font-size: 30px;
}

.menu-part .item .details{
    font-family: "IvyOra Display Regular";
    letter-spacing: 1px;
}

.menu-part .item:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 0 var(--mainText);
}